<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    {{!-- <title> Random Topic Generator </title> --}}

</head>
<body>

<div class="container">  
    <div style="width:1100px;" align="center">
<h1>Société des Beaux-Parleurs </br> 
les sujets au fil de la soirée</h1>
     <div class="result"></div>
     <button class="btn btn-primary" id="generate" >Roulette</button>
</div>
</div>
<script src="./app.js"></script>
<script>
    
    const resultDiv = document.querySelector('.result');
    const generateBtn = document.querySelector('#generate');
    generateBtn.addEventListener('click', () => {
        loadTopic(resultDiv);
    });


</script>

</body>
</html>